@layer tokens {
    :where(:root, :host) {
  --colors-black: #0d0d0d;
  --colors-blue: #00a3d1;
  --colors-charcoal: #1f1f1f;
  --colors-green: #00cc69;
  --colors-grey: #3e3e3e;
  --colors-orange: #ff9338;
  --colors-purple: #703faf;
  --colors-red: #ff2e1f;
  --colors-silver: #b4b4b4;
  --colors-white: #f5f5f5;
  --colors-yellow: #f8c630;
  --durations-150: 150ms;
  --durations-250: 250ms;
  --durations-300: 300ms;
  --durations-500: 500ms;
  --easings-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --easings-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --easings-ease-out-quart: cubic-bezier(0.16, 1, 0.3, 1);
  --easings-linear: cubic-bezier(0, 0, 1, 1);
  --fonts-mono: 'IBM Plex Mono', Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --fonts-sans: 'Atkinson Hyperlegible', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --fonts-serif: 'Playfair Display', Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-sizes-h6: 0.7071rem;
  --font-sizes-h5: 1rem;
  --font-sizes-h4: 1.4142rem;
  --font-sizes-h3: 2rem;
  --font-sizes-h2: 2.8284rem;
  --font-sizes-h1: 4rem;
  --font-sizes-xs: 0.8409rem;
  --font-sizes-sm: 1rem;
  --font-sizes-md: 1.1892rem;
  --font-sizes-lg: 1.4142rem;
  --font-sizes-xl: 1.6818rem;
  --font-weights-100: 100;
  --font-weights-200: 200;
  --font-weights-300: 300;
  --font-weights-400: 400;
  --font-weights-500: 500;
  --font-weights-600: 600;
  --font-weights-700: 700;
  --font-weights-800: 800;
  --line-heights-body: 1.5;
  --line-heights-title: 1.25;
  --opacity-0: 0;
  --opacity-5: 0.05;
  --opacity-50: 0.5;
  --opacity-75: 0.75;
  --opacity-100: 1;
  --radii-sm: 0.25rem;
  --radii-md: 0.5rem;
  --radii-lg: 02rem;
  --radii-half: 50%;
  --radii-full: 100%;
  --shadows-normal: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.5);
  --shadows-isometric: 0 0 0 #0d0d0d,
  -1px 1px 0 var(--colors-black),
  -2px 2px 0 var(--colors-black),
  -3px 3px 0 var(--colors-black),
  -4px 4px 0 var(--colors-black),
  -5px 5px 0 var(--colors-black),
  -6px 6px 0 var(--colors-black),
  -7px 7px 0 var(--colors-black),
  -8px 8px 0 var(--colors-black);
  --shadows-glow: 0 0 16rem 0.125rem #f8c630;
  --sizes-xs: 32rem;
  --sizes-sm: 48rem;
  --sizes-md: 64rem;
  --sizes-lg: 80rem;
  --sizes-xl: 96rem;
  --sizes-breakpoint-xs: 512px;
  --sizes-breakpoint-sm: 768px;
  --sizes-breakpoint-md: 1024px;
  --sizes-breakpoint-lg: 1280px;
  --sizes-breakpoint-xl: 1536px;
  --spacing-1/8: .125rem;
  --spacing-1/4: .25rem;
  --spacing-1/2: .5rem;
  --spacing-3/4: .75rem;
  --spacing-1/1: 1rem;
  --spacing-3/2: 1.5rem;
  --spacing-2/1: 2rem;
  --spacing-5/2: 2.5rem;
  --spacing-3/1: 3rem;
  --z-index-behind: -1;
  --z-index-base: 0;
  --z-index-dropdown: 10;
  --z-index-sticky: 20;
  --z-index-fixed: 30;
  --z-index-overlay: 40;
  --z-index-tooltip: 50;
  --z-index-popover: 60;
  --z-index-toast: 70;
  --z-index-modal: 80;
  --breakpoints-xs: 512px;
  --breakpoints-sm: 768px;
  --breakpoints-md: 1024px;
  --breakpoints-lg: 1280px;
  --breakpoints-xl: 1536px
}
  }
  