.ProseMirror {
  & > :first-child {
    margin-top: 0 !important;
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    padding-bottom: 0.3em;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    line-height: 1.15;
  }

  & > h1 {
    font-size: h2;
    border-bottom: solid 1px var(--colors-grey);
  }

  & > h2 {
    font-size: h3;
  }

  & > h3 {
    font-size: h4;
  }

  & > h4 {
    font-size: h5;
  }

  & > h5 {
    font-size: h6;
  }

  & > p,
  & > blockquote,
  & > ul,
  & > ol,
  & > dl,
  & > table,
  & > pre,
  & > details {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  & > ul ul,
  & > ul ol,
  & > ol ol,
  & > ol ul {
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 0;
  }

  & > ul {
    list-style-type: disc;
  }

  & > ul ul {
    list-style-type: circle;
  }

  & > ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
    & > li {
      counter-increment: item;
      &::marker {
        content: counters(item, ".") ". ";
      }
      ol li::marker {
        content: counters(item, ".") " ";
      }
    }
  }

  & > ol,
  & > ul {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  & > li {
    display: list-item;
  }

  & > strong {
    font-weight: 700;
  }

  & > em {
    font-style: italic;
  }

  & > blockquote {
    display: flex;
    flex-direction: column;
    border-left: solid 0.25rem var(--colors-grey);
    padding-left: 0.5rem;
    & > :last-child {
      margin-bottom: 0;
    }
  }

  & > hr {
    height: 0.25em;
    padding: 0;
    margin: 2rem 0;
    background-color: var(--colors-grey);
  }
}
